// @import "google-autocomplete.scss";

div.settlement-calculator-wrapper {
    font-family: Calibri, Arial !important;
    color: #363636;

  .calculator-form {
    border: 1px solid #b9ced5;
    padding: 25px;
    background: #e7f0f3;
  }



  h1 {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.2;
  }


  .header p { padding-top: 5px; font-size: 9pt; text-align: left;}

  h2 {
    color: black;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.0;
  }
  h3 {
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.0;
  }
  width: 100%;
  @media only screen and (min-width: 768px ){
    width: 60%;
    margin-left: auto;
    margin-right: auto;

  }

  // font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #333;
  font-weight: 300;
  line-height: 1.625;

  div.header {
    @media only screen and (min-width: 768px ){
      margin-bottom: 35px;
    }
  }



  div.calculate-controls {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
    button {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      height: 55px;
      border-radius: 0px;
      box-shadow: 10px 10px 5px #888888;
      background-color: #ff9626;
      border: 2px solid #000;
      color: #000;

      outline: 0;
          border: 0;
          color: #fff;
          font-size: 17px;
          line-height: normal;
          font-weight: 500;
          border-radius: 30px/50px;
          box-shadow: 0 2px 0 0 #3a5f6b;
          padding: 8px 4px 6px 19px;
          background: #01b660;
          background: -moz-linear-gradient(top,#01b660 0,#00a255 100%);
          background: -webkit-linear-gradient(top,#01b660 0,#00a255 100%);
          background: linear-gradient(to bottom,#01b660 0,#00a255 100%);
          transition: all .2s ease;

      @media only screen and (min-width: 768px ){ width: 50%; }
    }
    button:hover{
      color: #d3ffea;
      text-decoration: underline;
      background: #058741;
      background: -moz-linear-gradient(top,#058741 0,#006830 100%);
      background: -webkit-linear-gradient(top,#058741 0,#006830 100%);
      background: linear-gradient(to bottom,#058741 0,#006830 100%);
      box-shadow: 0 2px 0 0 #002e3d;
    }
  }


  div.settlement-estimate {
   // @media only screen and (min-width: 768px ){ margin-top: 35px; }
   border: 1px solid #b9ced5;
   padding: 15px;
   margin: 15px;
   p {
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     font-size: 8pt;
   }
   .calculator-icon {
     @media only screen and (min-width: 768px ){  }
   }
 }

  .calculator-results {
    display: none;
    #settlementEstimate {
      margin: 25px;
      // display: none;
      font-size: 48pt;
    }
      div.settlement-estimate {
        margin: 0px;
        margin-bottom: 25px;
        padding-bottom: 25px;
        background: #e7f0f3;
        div.top {
          span {
            font-size: 48px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 85px;
            @media only screen and (min-width: 768px ){ width: 33%; }
          }
        }
        div.bottom {
          display: none;
          margin-top: 5px;
          border: 2px solid #000;
          background-color: #e4e4e4;
          padding-top: 10px;
          padding-bottom: 55px;
          @media only screen and (min-width: 768px ){ padding-bottom: 15px;}
          input {
            border: 2px solid #000;
          }
        }

        .button {
          vertical-align: middle;
          margin-left: auto;
          margin-right: auto;
          width: 100% !important;
          height: 75px;
          border-radius: 0px;
          box-shadow: 10px 10px 5px #888888;
          background-color: #ff9626;
          border: 2px solid #000;

          outline: 0;
              border: 0;

              font-size: 17px;
              line-height: normal;
              font-weight: 500;
              border-radius: 30px/50px;
              box-shadow: 0 2px 0 0 #3a5f6b;
              padding: 12px;
              background: #01b660;
              background: -moz-linear-gradient(top,#01b660 0,#00a255 100%);
              background: -webkit-linear-gradient(top,#01b660 0,#00a255 100%);
              background: linear-gradient(to bottom,#01b660 0,#00a255 100%);
              transition: all .2s ease;

          @media only screen and (min-width: 768px ){ width: 50%; }

          a {

          }
          font-size: 18px;
          // margin-top: 25px;
          color: #ffffff;

          h3 {
            font-size: 14px;
            color: #ffffff;
            margin-top: 6px;
          }
          span { font-size: 12pt; color: #ffffff; }

        }
        .request-call { padding-top: 25px;}

        .button:hover{
          color: #d3ffea;
          text-decoration: underline;
          background: #058741;
          background: -moz-linear-gradient(top,#058741 0,#006830 100%);
          background: -webkit-linear-gradient(top,#058741 0,#006830 100%);
          background: linear-gradient(to bottom,#058741 0,#006830 100%);
          box-shadow: 0 2px 0 0 #002e3d;
        }
        a {
          font-size: 28px;
          color: black;
        }
        a:hover{
          text-decoration: none;
        }



      }

      div.footer {
        text-align: center;
        margin-left: auto;
        margin-left: auto;
        // width: 80%;
        h3, h4 {
          width: 100%;
          font-weight: 500;
          text-align: center;

          padding: 0px;
        }
        h3 {
          font-size: 18px;
          margin-left: auto;
          margin-right: auto;
        }
        h4 {
          // text-align: left;
          margin-top: 15px;
          margin-bottom: 15px;
          font-size: 16px;
        }
        p {
          font-size: 9pt;
        }

      }


  }






  .text-xs-center {
    // text-align: center;
    @media only screen and (min-width: 768px ){ text-align: left; }
  }



}
